* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-fundo: #0B1F3B;
    --cor-sect: #1B4965;
    --cor-botao: #62B6CB;
    --cor-destaque: #BEE9E8;
    --letra: #fff;

    --botao: 9px;
    --posicao: -5px;
}

button.pausar {
    --botao: 5px;
    --posicao: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--letra);
    width: 100vw;
    height: 100dvh;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 15px;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

section {
    background-color: var(--cor-sect);
    width: 95%;
    height: 650px;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
}

section div#cronometro {
    font-size: 3em;
    text-align: center;
    grid-area: 1 / 1 / 3 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    justify-items: center;
    align-items: center;
}

#contador {
    font-size: 2.7em;
    width: 85%;
    border-bottom: 2px solid var(--cor-destaque);
    grid-area: 1 / 1 / 2 / -1;
}

.operadores {
    width: 100px;
    height: 100px;
    font-size: 1em;
    background-color: var(--cor-botao);
    color: var(--letra);
    border: none;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.operadores:hover {
    background-color: var(--cor-destaque);
}

#mais {
    grid-area: 2 / 1 / 3 / 2;
}
#menos {
    grid-area: 2 / 2 / 3 / -1;
}

#contar {
    grid-area: 3 / 2;
    width: 170px;
    height: 170px;
    background-color: var(--cor-botao);
    border: none;
    box-shadow: var(--botao) var(--botao) 0 2px #0b1f3b98;
    border-radius: 50%;
    transform: translate(var(--posicao), var(--posicao));
    cursor: pointer;
    
    justify-self: center;
    transition: .2s;
}

#contar:hover {
    background-color: var(--cor-destaque);
}

footer {
    text-align: center;
    margin-top: 12px;

    a {
        color: var(--letra);
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) {
    section {
        width: 720px;
        grid-template-rows: 3fr 0 1fr;
    }

    section div#cronometro {
        grid-area: 1 / 1 / 2 / -1;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 300px;
    }

    #mais {
        grid-area: 1 / 1 / 2 / 2;
    }
    #menos {
        grid-area: 1 / 3 / 2 / -1;
    }

    #contar {
        margin-bottom: 30px;
    }
}